<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/user-profile">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from FirebaseService -->
          <li class="nav-item">
            <a class="nav-link" (click)="firebaseService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h2>Apply for a course</h2>
      <div class="list-group" *ngFor="let course of courses; let i = index">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{course.courseName}}</h5>
        </div>
        <p class="mb-1">{{course.description}}</p>
        <button>Apply</button>
      </div>
    </main>
  </div>
</div>
