
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 col-sm-6 col-md-8">
      <form class="border border-primary p-5" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <p class="h2 mb-4 text-center" style="text-transform: uppercase;">Enter your details</p>
        <div class="form-row">
          <div class="mb-3 col-md-12">
            <label for="name" class="form-label">Name</label>
            <input [value]="userDetails.name" type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name" required="" minlength="4">
          </div>
          <div class="mb-3 col-md-12">
            <label for="surname" class="form-label">Surname</label>
            <input [value]="userDetails.surname" type="text" class="form-control" id="surname" placeholder="Enter your surname" formControlName="surname" required="">
          </div>
          <div class="mb-3 col-md-12">
            <label for="dob" class="form-label">Date of Birth</label>
            <input [value]="userDetails.dob" type="date" class="form-control" id="dob" placeholder="Enter your date of birth" formControlName="dob" required="">
          </div>
          <div class="mb-3 col-md-12">
            <label for="gender" class="form-label">Gender</label>
            <select [value]="userDetails.gender" class="form-control" id="gender" formControlName="gender" required="">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
          <div class="mb-3 col-md-12">
            <label for="phone" class="form-label">Phone</label>
            <input [value]="userDetails.phone" type="text" class="form-control" id="phone" placeholder="Enter your phone number" formControlName="phone" required="">
          </div>
          <div class="mb-3 col-md-12">
            <label for="idNo" class="form-label">Id Number</label>
            <input [value]="userDetails.idNo" type="text" class="form-control" id="idNo" placeholder="Enter your ID number" formControlName="idNo" required="">
          </div>
        </div>
        <div class="text-center">
          <button button mdbBtn color="info" block="true" class="my-4" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

